.git
.ipynb_checkpoints
Dockerfile
.DS_Store
.gitignore
README.md
env.*

# To prevent storing dev/temporary container data
*.csv
tmp

# Exclude chaste directories which will be bind mounted
src
build
tmp
testoutput
projects

# Scripts for building images and running containers
build.sh
build_images.sh
run.sh
