.git
.gitignore
.ipynb_checkpoints
Dockerfile
.dockerignore
Makefile
.DS_Store
*.txt
*.md
env.*
.travis.yml
run.sh
install_docker.sh
.devcontainer
.devcontainer.json
.vscode
.github

# To prevent storing dev/temporary container data
*.csv
tmp
